.profile-page {
    width: 80% !important;
    height: 100vh !important;
    margin: auto !important;
    margin-top: 2em !important;
}
/* Phần đầu người dùng */
.profile-header-container{
    border-radius: 15px !important;
}

.profile-header-container{
    background-color: white !important;
    margin: auto!important;
}

.profile-header-user img {
    width: 150px!important;
    height: 150px!important;
    border: solid 5px rgba(83, 208, 104, 0.055)!important;
    border-radius: 100%!important;
}
.profile-header-user p {
    font-size: 27px!important;
}

.button-addfriend {
    height: 50px!important;
    margin-right: 1em!important;
    font-size: 16px !important;
}
.button-message {
    height: 50px;
    font-size: 16px !important;
}


/* Profile content */
/* Left info */
.profile-content-container {
    margin-top: 1em!important;
}
.profile-content-right{
    border-radius: 15px!important;
    background-color: white!important;
}

.profile-content-left{
    margin-right: 1em!important;

}
.profile-introduction {
    border-radius: 15px!important;
    background-color: white!important;
}
.profile-introduction span{
    margin-bottom: 1.25em!important;
	font-size: 16px;
}

/* Right Posts and posting */

.profile-post-posting svg{
    background-color: rgba(77, 77, 77, 0.25)!important;
    
}
.profile-post-posting textarea{
    height: 18vh!important;
    font-size: 1.15em!important;
}

.popover-popoverReactions{
    width: 25px!important;
    height: 25px!important;
}

.custom-popover {
    --bs-popover-max-width: 200px!important;
    --bs-popover-border-color: var(--bs-primary)!important;
    --bs-popover-header-bg: var(--bs-primary)!important;
    --bs-popover-header-color: var(--bs-white)!important;
    --bs-popover-body-padding-x: 1rem!important;
    --bs-popover-body-padding-y: .5rem!important;
  }
/* Sửa bootstrap css */
.btn-primary{
    background-color: #53D068 !important;
    border-color: #53D068 !important;
    outline-color: #53D068 !important;
}
.btn:active {
    outline-color: #53D068 !important;
    background-color:white !important;
    color:#53D068 !important;
}
