
/*---------------------
  Header
-----------------------*/

.header {
	background: #ffff;
	position: fixed;
	top: 0;
	height: auto;
	z-index: 1000;
	width: 100%;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #344E41;
}

.header__logo {
	padding: 20px 20px 17px 0;
}

.header__logo a {
	display: inline-block;
}

.header__right {
	text-align: center;
	padding: 25px 0 0 17px;
}
.header__right i {
	color: #53D068;
	padding: 17px 0 17px;
}

.header__right .icon_group_circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
}
.header__right .direct:hover .icon_group_circle{
  background-color: #53D068;
  transition: background-color 0.3s ease-in-out;
}
.header__right .direct:hover i{
  color: #eeeeee;
  transition: color 0.3s ease-in-out;
}
.header__right a {
	display: inline-block;
	font-size: 18px;
	color: #53D068;
}


.header__right .dropdown-toggle::after {
    display: none;
}
.header__right .dropdown-menu {
	width:min-content;
}
.header__right .dropdown-item:hover {
	background-color: #53D068;
	color:black;
}





/*---------------------
  Header admin
-----------------------*/

.header__admin {
	background: #53D068;
	position: fixed;
	top: 0;
	height: auto;
	z-index: 1000;
	width: 100%;
	align-items: center;
	display: flex;
	border-bottom: 1px solid #344E41;
}

.header__admin .header__logo {
	padding: 20px 20px 17px 0;
}

.header__admin .header__logo a {
	display: inline-block;
}

.header__admin .header__right {
	text-align: center;
	padding: 25px 0 0 17px;
}
.header__admin .header__right i {
	color: #53D068;
	padding: 17px 0 17px;
}

.header__admin .header__right .icon_group_circle {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
}
.header__admin .header__right .direct:hover .icon_group_circle{
  background-color: rgb(64, 0, 64);
  transition: background-color 0.3s ease-in-out;
}
.header__admin .header__right .direct:hover i{
  color: #eeeeee;
  transition: color 0.3s ease-in-out;
}
.header__admin .header__right a {
	display: inline-block;
	font-size: 18px;
	color: #53D068;
}


.header__admin header__right .dropdown-toggle::after {
    display: none;
}
.header__admin .header__right .dropdown-menu {
	width:min-content;
}
.header__admin .header__right .dropdown-item:hover {
	background-color: #53D068;
	color:black;
}