
/*---------------------
  Login
-----------------------*/

.login {
	padding-top: 130px;
	padding-bottom: 120px;
	background-color: #eeeeee;
	height: max-content;
}
.login .container {
	height: 100%;
	border-radius: 15px;
	box-shadow: #344E41 3px 3px;
}
.login .login__panel {
	height: 100%;
}
.login .col-lg-5 {
	background-color: #fff;
	border-radius: 0 15px 15px 0;
	border: #A3B18A 1px solid;
}
@media (max-width: 976px) {
    .login .col-lg-5 {
        border-radius: 15px; /* Apply the border-radius to all corners on mobile screens */
    }
	.login {
		padding-top: 180px;
	}
}
.login .col-lg-7 {
	background-color: #53D068;
	border-radius: 15px 0 0 15px;
}
.login__form {
	position: relative;
	padding:  100px 30px 100px 30px;
}

.login__form h3 {
	color: #53D068;
	font-weight: 700;
	font-family: "Oswald", sans-serif;
	margin-bottom: 30px;
}

.login__form form .input__item {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.login__form form .input__item:before {
	position: absolute;
	left: 50px;
	top: 10px;
	height: 30px;
	width: 1px;
	background: #344E41;
	content: "";
}

.login__form form .input__item input {
	height: 50px;
	width: 100%;
	font-size: 15px;
	color: #344E41;
	background: #ffffff;
	border: 1px solid rgb(192, 192, 192);
	padding-left: 76px;
	border-radius: 15px;
}

.login__form form .input__item input::-webkit-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-moz-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input:-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::-ms-input-placeholder {
	color: #b7b7b7;
}

.login__form form .input__item input::placeholder {
	color: #b7b7b7;
}

.login__form form .input__item span {
	color: #b7b7b7;
	font-size: 20px;
	position: absolute;
	left: 15px;
	top: 13px;
}

.login__form form button {
	border-radius: 15px;
	height: 50px;
	width: 100%;
	margin-top: 10px;
}
#loginBtn {
	color: white;
	background-color: #344E41;
}
#loginBtn:hover {
	background-color: #53D068;
	color: white;
}
#signUpBtn {
	background-color: #A3B18A;
	color: #344E41;
}
#signUpBtn:hover {
	color: white;
	background-color: #53D068;
}
.checkRemember input[type="checkbox"] {
    display: none;
}

.checkRemember .terms-label {
    cursor: pointer;
    display: flex;
    align-items: center;
	
	font-size: 15px;
	color: #53D068;
}

.checkRemember .terms-label .label-text {
    margin-left: 10px;
}

.checkRemember .checkbox-svg {
    width: 30px;
    height: 30px;
}

.checkRemember .checkbox-box {
    fill: #eeeeee;
    stroke: #53D068;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkRemember .checkbox-tick {
    stroke: #53D068;
    stroke-dasharray: 172;
    stroke-dashoffset: 172;
    transition: stroke-dashoffset 0.6s ease-in;
}

.checkRemember input[type="checkbox"]:checked + .terms-label .checkbox-box,
.checkRemember input[type="checkbox"]:checked + .terms-label .checkbox-tick {
    stroke-dashoffset: 0;
}
.login__form a{
	font-size: 15px;
	color: #53D068;
}

.banner__login {
	background-image: url("../../assets/images/SigninBG.png");
	height: 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	background-size:contain;
}
