@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?&family=Ubuntu:wght@300;400;500;700&display=swap');

/* Default css */
:root {
    --primaryColor: #53D068;
    --primaryLighterColor: rgba(33, 174, 132, .65);
    --secondaryColor: rgba(34, 147, 209, 1);
    --greyColorText: rgba(77, 77, 77, 1);
    --greyDisabledColor: rgba(202, 202, 202, 1);
    --errorColor: rgba(238, 52, 37, 1);
    --warningColor: rgba(247, 188, 10, 1);
    --fadeBackground: rgba(26, 26, 26, .37);
    --bodyBackground: #f1f6ff;
}

* {
    box-sizing: border-box !important;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5% !important;
}

body {
    line-height: 1 !important;
    font-size: 1.6rem !important;
    text-rendering: optimizeSpeed !important;
    background-color: var(--bodyBackground) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    outline: none !important;
    background-color: transparent !important;
}

button {
    border: none !important;
}

a[href] {
    text-decoration: none !important;
}
/*1 thông báo*/
.noti-info-image img {
	padding: 0px !important;
	height: 60px !important;
	width: 60px !important;
	border: solid 1px !important;
	border-radius: 45px !important;
}

.noti-info-wrapper {
	background-color: white;
	border-radius: 15px !important;
	padding-top: 10px !important;
	padding-bottom: 10px !important;
	cursor: pointer;
}

.noti-info-time {
	margin-top: 10px !important;
}

.noti-info-container {
	margin-left: 10px !important;
	margin-right: 5px !important;
}

.noti-username {
	margin-right: 4px;
}

/*đầu thông báo*/
.noti-header-number-container span {
	font-size: 20px !important;
	color: white !important;
	font-weight: 600 !important;
	background-color: #5adc70;
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
	border-radius: 9px;
}

.noti-header-text-container span {
	font-size: 25px !important;
	font-weight: 500 !important;
	padding-top: 3px;
}

.noti-seperator-line {
	height: 1px;
	background-color: black;
	margin-top: 5px;
	margin-bottom: 1em;
}



#SearchInput {
    background-color: #EEEEE9 !important;

}