<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>sgu_j2ee</display-name>
  
  <welcome-file-list>
    <welcome-file>/views/Index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>loginServlet</display-name>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>controller.web.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.web.loginServlet</servlet-name>
    <url-pattern>/dang-nhap</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>signupServlet</display-name>
    <servlet-name>signupServlet</servlet-name>
    <servlet-class>controller.web.signupServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.web.signupServlet</servlet-name>
    <url-pattern>/dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>confirmServlet</display-name>
    <servlet-name>confirmServlet</servlet-name>
    <servlet-class>controller.web.confirmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.web.confirmServlet</servlet-name>
    <url-pattern>/xac-nhan</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutServlet</display-name>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>controller.web.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>controller.web.logoutServlet</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendController</display-name>
    <servlet-name>FriendController</servlet-name>
    <servlet-class>controller.web.FriendController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendController</servlet-name>
    <url-pattern>/FriendController</url-pattern>
    <url-pattern>/friend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendLoadController</display-name>
    <servlet-name>FriendLoadController</servlet-name>
    <servlet-class>controller.web.FriendLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendLoadController</servlet-name>
    <url-pattern>/FriendLoadController</url-pattern>
    <url-pattern>/friendload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FriendActionController</display-name>
    <servlet-name>FriendActionController</servlet-name>
    <servlet-class>controller.web.FriendActionController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FriendActionController</servlet-name>
    <url-pattern>/FriendActionController</url-pattern>
    <url-pattern>/action</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageController</display-name>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>controller.web.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/MessageController</url-pattern>
    <url-pattern>/mess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MessageLoadController</display-name>
    <servlet-name>MessageLoadController</servlet-name>
    <servlet-class>controller.web.MessageLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageLoadController</servlet-name>
    <url-pattern>/MessageLoadController</url-pattern>
    <url-pattern>/messload</url-pattern>
  </servlet-mapping>
</web-app>